Factura.dtd

<?xml version="1.0" encoding="UTF-8"?>
  <!ELEMENT FACTURA (NUMAR, DATA, MAGAZIN, CLIENT*)>
  <!ELEMENT NUMAR (#PCDATA)>
  <!ELEMENT DATA (#PCDATA)>
  <!ELEMENT MAGAZIN (#PCDATA)>
  <!ELEMENT CLIENT (NUME, PRODUS*)>
  <!ATTLIST CLIENT id CDATA #REQUIRED>
  <!ELEMENT NUME (#PCDATA)>
  <!ELEMENT PRODUS (DENUMIRE, PRET)>
  <!ELEMENT DENUMIRE (#PCDATA)>
  <!ELEMENT PRET (#PCDATA)>
  